{% extends "base.html" %}
asd
{% block main_block %}
<h2>Бронирования</h2>
{% for obj in object_list %}
<div class="main-panel-elem">
    <div class="row">
        <div class="col-md-2">
            {% load static  %}
            <img style="width:100px;" src="{% static 'img/hotel.jpg' %}">
        </div>
        <div class="col-md-10">
            <h3><a href="{% url 'hotel_page' obj.hotel.name %}">{{ obj.hotel.name }}</a></h3>
            <div style="">{{ obj.hotel.adress }}</div>
            <div>Цена: {{ obj.price }}</div>
            <div>{{ obj.start_date }} - {{ obj.end_date }}</div>
        </div>
    </div>
</div>
{% empty %}
<div class="main-panel-elem">
    На данный момент вы ничего не забронировали
</div>
{% endfor %}
{% endblock %}

{% block side_block %}
<h2>Пользователь:</h2>
<div class="side-panel-elem">
    <h3>{{ traveler.last_name }} {{ traveler.first_name }}</h3>
    {{ traveler.user.email }}
</div>
<!--<div class="side-panel-elem">-->
<div><a class="btn btn-primary" href="{% url 'hotel_list' %}" role="button">Забронировать отель</a></div>
<!--</div>-->
{% endblock %}
