{% extends "base.html" %}

{% block main_block %}
<h2>{{ hotel.name }}</h2>
<div class="main-panel-elem">
    {% if hotel is None %}
        <h3>Такого отеля нет в базе данных</h3>
    {% else %}
    <div class="row">
        <div class="col-md-2">
            {% load static  %}
            <img style="width:100px;" src="{% static 'img/hotel.jpg' %}">
        </div>
        <div class="col-md-10">
            <div style=""><h4>Адрес:</h4>{{ hotel.adress }}</div>
            <div><h4>Описание:</h4> {{ hotel.description }}</div>
            <div><a class="btn btn-primary" href="{% url 'booking' hotel.name %}" role="button">Забронировать</a></div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block side_block %}
<h2>Пользователь:</h2>
<div class="side-panel-elem">
    <h3>{{ traveler.last_name }} {{ traveler.first_name }}</h3>
    {{ traveler.user.email }}
</div>
{% endblock %}
