{% extends "base.html" %}

{% block main_block %}
<h2>{{ hotel.name }}</h2>
<div class="main-panel-elem">
    {% if hotel is None %}
        <h3>Такого отеля нет в базе данных</h3>
    {% else %}
    <div class="row">
        <div class="col-md-4" style="text-align: center;">
            {% load static  %}
            <img src="{{ hotel.photo.url }}" style="max-width: 200px;">
        </div>
        <div class="col-md-8">
            <div style=""><h4>Адрес:</h4>{{ hotel.adress }}</div>
            <div><h4>Описание:</h4> {{ hotel.description }}</div>
            <div><a class="btn btn-primary" href="{% url 'booking' hotel.name %}" role="button">Забронировать</a></div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block side_block %}
<h2>Пользователь:</h2>
<div class="side-panel-elem">
    {% include "traveler_info.html" %}
</div>
{% endblock %}
